<%- include('layout/header.ejs') %>
<div class="row">    
    <% repos.forEach(function(repo) { %>
        <div class="col-lg-4 mb-3">
            <div class="card">
                <div class="card-header bg-primary">
                    <h2 class="text-white"><%=repo.name%></h2>
                </div>
                <div class="card-body">
                    
                    <p class="card-text"><%=repo.description%></p>
                    <a href="<%=repo.url%>" class="btn btn-primary">Go to Repository</a>
                </div>
            </div>            
        </div>
    <% })%>
</div>
<table class="table">
    <thead>
        <tr class="bg-primary text-white">
            <th>Name</th>
            <th>Description</th>
            <th></th>
        </tr>        
    </thead>
    <tbody>
        <% repos.forEach(function(repo) { %>
            <tr>
                <td><%=repo.name%></td>
                <td><%=repo.description%></td>
                <td><a href="<%=repo.url%>" class="btn btn-primary">Go to Repository</a></td>
            </tr>
        <% })%>
    </tbody>
</table>
<%- include('layout/footer.ejs') %>