<%- include('layout/header.ejs') %>
<div class="row">    
    <% repos.forEach(function(repo) { %>
        <div class="col-lg-4 mb-3">
            <div class="card">
                <div class="card-header bg-primary">
                    <h2 class="text-white"><%=repo.name%></h2>
                </div>
                <div class="card-body">
                    
                    <p class="card-text"><%=repo.description%></p>
                    <a href="<%=repo.url%>" class="btn btn-primary">Go to Repository</a>
                </div>
            </div>            
        </div>
    <% })%>
</ul>
<%- include('layout/footer.ejs') %>